$b-font-size: 2rem;

// Theme1
[data-theme="1"] {
  --main-background: #3b4664;
  --screen-background: #181f32;
  --button-container: #252d44;
  --main-text: #fff;

  --btn-primary-b: #eae3db;
  --btn-primary-t: #444452;
  --btn-primary-s: #d3c8be;

  --btn-secondary-b: #647299;
  --btn-secondary-t: #fff;
  --btn-secondary-s: #435072;

  --btn-third-b: #d33f2e;
  --btn-third-t: #fff;
  --btn-third-s: #932518;
}

// Theme2
[data-theme="2"] {
  --main-background: #e6e6e6;
  --screen-background: #eeeeee;
  --button-container: #d3cdcd;
  --main-text: #35352b;

  --btn-primary-b: #e5e4e0;
  --btn-primary-t: #414138;
  --btn-primary-s: #a2988c;

  --btn-secondary-b: #388187;
  --btn-secondary-t: #eefcfc;
  --btn-secondary-s: #246b70;

  --btn-third-b: #c85401;
  --btn-third-t: #fff;
  --btn-third-s: #803200;
}

// Theme3
[data-theme="3"] {
  --main-background: #17062a;
  --screen-background: #1e0836;
  --button-container: #1e0836;
  --main-text: #fee639;

  --btn-primary-b: #331b4d;
  --btn-primary-t: #ffeb4e;
  --btn-primary-s: #8a21a2;

  --btn-secondary-b: #56077c;
  --btn-secondary-t: #fff;
  --btn-secondary-s: #8716b2;

  --btn-third-b: #00decf;
  --btn-third-t: #033c3c;
  --btn-third-s: #7afffa;
}
